<div class="editor-container">
  <mat-toolbar color="primary" class="header-toolbar">
    <mat-toolbar-row>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Quicky Wiki</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar class="editor-toolbar">
    <app-wiki-editor-add-section></app-wiki-editor-add-section>
  </mat-toolbar>
  <div class="editor-section-container"></div>
</div>